---
export interface ReferenceList {
    id: string;
    author: string;
    title: string;
    venue?: string;
    volume?: string;
    issue?: string;
    pages?: string;
    year: string;
    url: string;
}

export interface Props {
    references: ReferenceList[];
}

const { references } = Astro.props;
---

<section id="references" class="container is-max-desktop">
    <header>
        <h2 class="section-title">References</h2>
    </header>
    <div class="section-body">
        <ol class="reference-list">
            {references.map((reference, index) => {
                return (
                    <li id={`ref-${reference.id}`} class="reference-item">
                        <span class="reference-number">
                            {index + 1}.
                        </span>
                        <span class="reference-text">
                            {reference.author},{' '}
                            <a href={reference.url} target="_blank" rel="noopener noreferrer">"{reference.title.trim()}"</a>,{' '}
                            {reference.venue && <em>{reference.venue}</em>}
                            {reference.venue && ', '}
                            {reference.volume && `vol. ${reference.volume}, `}
                            {reference.issue && `no. ${reference.issue}, `}
                            {reference.pages && `pp. ${reference.pages}, `}
                            {reference.year}
                        </span>
                    </li>
                );
            })}
        </ol>
    </div>
</section>

<style>
    .section-body {
        display: flex;
        align-items: flex-start;
        row-gap: 0.8em;
        column-gap: 1em;
        font-size: 1.2em;
        flex-direction: column;
    }

    .reference-list {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        width: 100%;
    }

    .reference-item {
        margin-bottom: 1em;
        display: flex;
        align-items: flex-start;
    }

    .reference-number {
        font-weight: bold;
        margin-right: 0.5em;
    }

    .reference-text {
        margin-left: 1em;
        flex-grow: 1;
    }

    a {
        text-decoration: underline;
        color: blue;
    }

    a:hover {
        color: darkblue;
    }

    .section-title {
        font-weight: 600;
        line-height: 1.125;
        font-size: 1.6rem;
    }
</style>